.FormContainer {
    background: white;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.5);
    min-height: 300px;
    max-width: 600px;
    h1,p {
        text-align: center;
    }
    
}